apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 45.7.1
    helm:
      values: |
        grafana:
          ingress:
            enabled: true
            ingressClassName: nginx
            annotations:
              nginx.ingress.kubernetes.io/ssl-redirect: "false"
            hosts:
              - grafana.sidmakes.com
          grafana.ini:
            server:
              root_url: https://grafana.sidmakes.com
        prometheus:
          ingress:
            enabled: false
          prometheusSpec:
            livenessProbe:
              timeoutSeconds: 10
              periodSeconds: 10
              failureThreshold: 6
            readinessProbe:
              timeoutSeconds: 10
              periodSeconds: 5
              failureThreshold: 3
            startupProbe:
              timeoutSeconds: 10
              periodSeconds: 15
              failureThreshold: 60
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: gp2
                  accessModes: ["ReadWriteOnce"]
                  resources:
                    requests:
                      storage: 50Gi
        alertmanager:
          ingress:
            enabled: false
        prometheus-node-exporter:
          prometheus:
            monitor:
              enabled: true
              jobLabel: jobLabel
              relabelings:
                - sourceLabels: ["__meta_kubernetes_pod_node_name"]
                  separator: ";"
                  regex: "^(.*)$"
                  targetLabel: node
                  replacement: "$1"
                  action: replace
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
