apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 61.7.0
    helm:
      values: |
        grafana:
          grafana.ini:
            server:
              root_url: https://grafana.sidmakes.com
              domain: grafana.sidmakes.com
              serve_from_sub_path: false
          ingress:
            enabled: true
            ingressClassName: nginx
            annotations:
              nginx.ingress.kubernetes.io/use-forwarded-headers: "true"
              nginx.ingress.kubernetes.io/ssl-redirect: "false"
              nginx.ingress.kubernetes.io/proxy-redirect-from: "http://"
              nginx.ingress.kubernetes.io/proxy-redirect-to: "https://"
            hosts:
              - grafana.sidmakes.com
            path: /
            pathType: Prefix
        prometheus:
          prometheusSpec:
            serviceMonitorSelectorNilUsesHelmValues: false
            podMonitorSelectorNilUsesHelmValues: false
            ruleSelectorNilUsesHelmValues: false
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true


