apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
- name: ingress-nginx
  repo: https://kubernetes.github.io/ingress-nginx
  version: 4.11.3
  releaseName: ingress-nginx
  namespace: ingress-nginx
  includeCRDs: true
  valuesInline:
    controller:
      ingressClassResource:
        default: true
      service:
        type: NodePort
        nodePorts:
          http: 30080
          https: 30443
      config:
        use-forwarded-headers: "true"
        compute-full-forwarded-for: "true"
        use-proxy-protocol: "false"
        enable-real-ip: "true"
      metrics:
        enabled: true
      resources:
        requests:
          cpu: 100m
          memory: 90Mi
        limits:
          memory: 256Mi

resources:
- namespace.yaml

commonLabels:
  app.kubernetes.io/name: ingress-nginx
  app.kubernetes.io/managed-by: gitops
