apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: kube-prometheus-stack
  namespace: monitoring

helmCharts:
- name: kube-prometheus-stack
  repo: https://prometheus-community.github.io/helm-charts
  version: 45.7.1
  releaseName: kube-prometheus-stack
  namespace: monitoring
  includeCRDs: true
  valuesInline:
    grafana:
      ingress:
        enabled: true
        ingressClassName: nginx
        annotations:
          nginx.ingress.kubernetes.io/use-forwarded-headers: "true"
          nginx.ingress.kubernetes.io/ssl-redirect: "false"
          nginx.ingress.kubernetes.io/proxy-redirect-from: "http://"
          nginx.ingress.kubernetes.io/proxy-redirect-to: "https://"
        hosts:
          - grafana.sidmakes.com
      grafana.ini:
        server:
          root_url: https://grafana.sidmakes.com
    
    prometheus:
      ingress:
        enabled: false
      prometheusSpec:
        livenessProbe:
          timeoutSeconds: 10
          periodSeconds: 10
          failureThreshold: 6
        readinessProbe:
          timeoutSeconds: 10
          periodSeconds: 5
          failureThreshold: 3
        startupProbe:
          timeoutSeconds: 10
          periodSeconds: 15
          failureThreshold: 60
        
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: gp2
              accessModes: ["ReadWriteOnce"]
              resources:
                requests:
                  storage: 50Gi
    
    alertmanager:
      ingress:
        enabled: false
    
    prometheus-node-exporter:
      prometheus:
        monitor:
          enabled: true
          jobLabel: jobLabel
          relabelings:
            - sourceLabels: ["__meta_kubernetes_pod_node_name"]
              separator: ";"
              regex: "^(.*)$"
              targetLabel: node
              replacement: "$1"
              action: replace

commonLabels:
  app.kubernetes.io/name: prometheus
  app.kubernetes.io/managed-by: gitops
  app.kubernetes.io/component: monitoring

resources:
- namespace.yaml
